@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url("https://coreui.io/images/ogimages/coreui_1200_600.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}
